.button {
  border: none;
  border-radius: 8px;
  background-color: transparent;

  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;

  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #fff;
    color: #000;
  }
}
