.button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 8px;
  border: none;
  border-radius: 50%;
  background-color: transparent;

  color: #fff;

  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #ffffff20;
  }

  .button--icon {
    width: 48px;
    height: 48px;

    @media screen and (max-width: 767px) {
      width: 24px;
      height: 24px;
    }
  }
}
