.title-container {
  color: #fff;

  display: flex;
  align-items: center;
  gap: 24px;

  margin-bottom: 72px;
  .title {
    margin: 0;
    font-size: 48px;
    line-height: 56px;
    font-weight: 700;
  }
}
