@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins&display=swap");

* {
  font-family: "Nunito";
  transition: all 0.3s ease-in-out;
}

body {
  background-color: #000;
}

main {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;

    padding: 32px;
    border-radius: 8px;

    .container-content {
      width: 300px;
    }

    .container-feedback {
      text-align: center;
      font-size: 24px;
      line-height: 32px;
      font-weight: 500;
      color: #eee;
      margin-bottom: 32px;
      span {
        padding: 0 12px;
        background-color: #ffffff26;
        border-radius: 8px;
      }
    }

    .container-input {
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 32px;
      margin-bottom: 32px;
    }

    .container-button {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 24px;
    }
  }
}

.button--icon {
  width: 32px;
  height: 32px;

  @media screen and (max-width: 767px) {
    width: 24px;
    height: 24px;
  }
}
